.wishlist-container {
  padding: 20px;
}

.wishlist-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.wishlist-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.item-details {
  display: flex;
  flex-direction: column;
}
