.card-container {
  width: 100%;
  padding: 1rem;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  width: 99%;
  margin: auto;
}

.card-item {
  border: 1px solid white;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.25rem;
  padding-bottom: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-item img {
  width: 100%;
}

.card-title {
  color: gray;
  font-size: 16px;
  font-weight: 500;
  padding: 0.25rem;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
